@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Slab:wght@400;500&display=swap');

* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url(./img/background.jpg);
  background-size: cover;

  justify-content: center;
}

@keyframes sliderigth {
  from {
    background-position: 70000%;
  }

  to {
    background-position: 0;
  }
}


.background {
  width: 50%;
  height: 40%;
  margin: auto 0;
  border-radius: 25px;
  background-color: #87ceeb;
  border: 5px solid #111;
}

.chao {
  width: 100%;
  height: 8%;
  margin-top: 37vh;
  border-radius: 0 0 20px 20px;
  background-image: url(./img/chao.jpg);
  background-repeat: repeat-x;
}

.game-over {
  width: 50%;
  height: 40%;
  margin: auto 0;
  border-radius: 25px;
  background-color: #000;
  border: 5px solid #000;
}

.game-over h2 {
  margin-top: 15%;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 56px;
  color: #fff;
}

.mario {
  width: 32px;
  height: 40px;
  margin-left: 5%;
  bottom: 33%;
  position: absolute;
}

.mario-parado {
  background: url("./img/mario/mario-parado.png");
}

.mario-andando {
  background: url("./img/mario/mario-andando1.png");
}

.mario-saltando {
  background: url("./img/mario/mario-saltando.png");
}

.tube {
  width: 32px;
  height: 55px;
  margin-left: 5%;
  bottom: 33%;
  position: absolute;
  background-image: url("./img/tube.png");
}